@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

.card {
  @apply bg-card border border-border rounded-lg shadow-lg;
}
